<style>
#highlight input {
  font-size: 150%;
  display: block;
  margin-bottom: 1em;
}
#target {
  font-size: 200%;
  width: 10em;
  height: 10em;
  background-color: #0000AA;
}
</style>

<form id="highlight" style="float:right">
  <pre><code class="eval-text">
animate({
  opacity: "toggle"	
}, "slow");
  </code></pre>
  <pre><code class="eval-text">
each(function(){ 
  var position = $(this).position(); 
  $(this) 
    .css({position: 'absolute',                                      
          top: position.top, 
          left: position.left}) 
    .animate(                                                        
      { 
        opacity: 'hide', 
        width: $(this).width() / 2, 
        height: $(this).height() / 2, 
      }, 
      'normal'); 
});	
  </code></pre>
  <pre><code class="eval-text">
animate({
  backgroundColor: "red"
}, {
  duration: 10000,
  queue: false
});
  </code></pre>
  <pre><code class="eval-text">
animate({
  width: 25,
  height: 25
}, {
  duration: 10000,
  queue: false	
});
  </code></pre>
</form>

<h1>Animation Demo</h1>

<div id="target">&nbsp;</p>

<script type="text/javascript">
$(function() {
    $(".eval-text").click(function() {
        eval("$('#target')." + $(this).text());
    });
});
</script>

