<style>
.demo {
	background-color: #0000ff;
	padding: 1em;
	margin: 2em;
	border: 1px solid #000088;
	width: 20%;
}
#form pre, #code {
	font-size: 200%;
}
.vivid {
	background-color: #ff0000;
	border: 1px solid #880000;
}
</style>

<h1>DOM Demo</h1>

<form id="form" style="float:right">
  <textarea name="code" id ="code" rows="5" cols="30"></textarea>
  <input type="submit" value="Run!"/>
  <pre><code id="result">
  [Result]		
  </code></pre>
</form>


<div id="1" class="demo">
</div>
<div id="2" class="demo">
</div>
<div id="3" class="demo">
</div>


<script type="text/javascript">
    $(function() {
        $("#form").submit(function() {
			$("#result").text(formatResult(evalCode()));
            return false;
        });
    });
</script>