<form id="events" style="float:right">
  <p>
    <label for="event">Event:</label><br/>
    <input type="text" name="event" id ="event"/>
  </p>
  <p>
    <label for="selector">Selector:</label><br/>
    <input type="text" name="selector" id ="selector"/>
  </p>
  <p>
    <input type="submit" value="Bind it!"/>
  </p>
</form>

<h1>Events Demo</h1>

<div id="section-1">
  <p id="p1" class="vivid leader">Paragraph 1</p>
  <p id="p2">Paragraph 2</p>
  <p id="p3" class="honorificabilitudinitatibus">Paragraph 3 has a <span>nested span</span></p>
  <p id="p4" class="vivid">Paragraph 4</p>
  <p id="p5">Paragraph 5 has a <span>doubly <span> nested span</span> </span></p>
  <div>This is not a paragraph</div>
</div>

<br/>

<div id="log">
  
</div>

<script type="text/javascript">
    $(function() {
        $("#events").submit(function() {
            var count = 0;
            var eventName = $("#event").val()
            $($("#selector").val()).bind(eventName, function() {
                count = count + 1;
                $("#log").prepend("Saw event " + eventName + " " + count + " "); 
            });
            return false;
        });
    });
</script>