<h1>Sandbox</h1>

<form id="sandbox">
  <p>
    <label for="code">Code:</label><br/>
    <textarea rows="5" cols="73" name="code" id="code">
    </textarea>
  </p>
  <p>
  <p>
    <input type="submit" value="Formatted!" id="formatted"/>
    <input type="submit" value="Unformatted!" id="unformatted"/>
  </p>
</form>

<pre style="font-size:300%;"><code class="js-shell">
<span class="input" id="input">&nbsp;</span>
<span class="output"id="output">&nbsp;</span>
</code></pre>

<script type="text/javascript">
jQuery(function() {
    jQuery("#code").val("");
    jQuery("#sandbox").submit(function() {
        return false;
    });
    jQuery("#formatted").click(function() {
        jQuery("#input").text(jQuery("#code").val());
        jQuery("#output").text("=> " + formatResult(evalCode()));
    });
    jQuery("#unformatted").click(function() {
        jQuery("#input").text(jQuery("#code").val());
        jQuery("#output").text("=> " + evalCode());
    });
});
</script>